<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit fruit</title>
  </head>
  <body>
    <h1>Edit Fruit Details</h1>
    <form action="/fruits/<%=fruit.id %>?method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%fruit.name%>" /> <br />
      Color: <input type="text" name="color" value="<%fruit.color%>" /> <br />
      Ready to Eat? : <input type="checkbox" name="readyToEat" <%
      if(fruit.readyToEat === true){%>checked <%} %> />
      <input type="submit" value="Update Fruit" />
    </form>
  </body>
</html>
