<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Fruit</title>
  </head>
  <body>
    <h1>New Fruit Form</h1>
    <form action="/fruits" method="POST">
      Name: <input type="text" name="name" /><br /><br />
      Color: <input type="text" name="color" /><br /><br />
      Is Ready To Eat: <input type="checkbox" name="readyToEat" /><br /><br />
      <input type="submit" value="create fruit" />
    </form>
  </body>
</html>
